
  <div class="row center">
      <%= form_tag("/results", method: "get", remote: true) do %>
        <div class="input-field s12 white black-text">
        <%= label_tag(:address, "Property Listing Address") %>
        <%= text_field_tag(:address) %>
        <%= submit_tag("Search", id: "search_button", class: "btn blue-grey") %>
      <% end %>
    </div>
  </div>


<div id="map"></div>


<div id="chart"></div>
