---
http_interactions:
- request:
    method: get
    uri: http://www.broadbandmap.gov/broadbandmap/demographic/2014/coordinates?format=json&latitude=47.591094&longitude=-122.24651
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","responseTime":114,"message":[],"Results":{"blockFips":"530330243001035","incomeBelowPoverty":0.12200,"medianIncome":141364.00000,"incomeLessThan25":0.08787,"incomeBetween25to50":0.08577,"incomeBetween50to100":0.28034,"incomeBetween100to200":0.12343,"incomeGreater200":0.42260,"educationHighSchoolGraduate":0.98050,"educationBachelorOrGreater":0.62230}}'
  recorded_at: Wed, 24 Jun 2015 20:39:12 GMT
recorded_with: VCR 2.9.3
