---
http_interactions:
- request:
    method: get
    uri: http://api.walkscore.com/score?address=2221%2066th%20ave%20se%20mercer%20island%20wa&format=json&lat=47.591094&lon=-122.24651&wsapikey=68b3b20da84d95cbaa5adb8d02fa694b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Alternate-Protocol:
      - 80:quic,p=0
    body:
      encoding: UTF-8
      string: "{\n\"status\": 1  \n, \"walkscore\": 29\n, \"description\": \"Car-Dependent\"\n,
        \"updated\": \"2015-03-26 08:09:07.247870\" \n, \"logo_url\": \"https://cdn.walk.sc/images/api-logo.png\"\n,
        \"more_info_icon\": \"https://cdn.walk.sc/images/api-more-info.gif\"\n, \"more_info_link\":
        \"https://www.redfin.com/how-walk-score-works\"\n, \"ws_link\": \"https://www.walkscore.com/score/2221-66th-ave-se-mercer-island-wa/lat=47.591094/lng=-122.24651/?utm_source=bizzspot.herokuapp.com&utm_medium=ws_api&utm_campaign=ws_api\"\n,
        \"help_link\": \"https://www.redfin.com/how-walk-score-works\"\n, \"snapped_lat\":
        47.5905\n, \"snapped_lon\": -122.2470 \n\n\n\n}"
  recorded_at: Wed, 24 Jun 2015 20:24:55 GMT
recorded_with: VCR 2.9.3
