<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <!-- CSS  -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header name center black-text text-lighten-2">BizzSpot</h1>
        <div class="row center">
          <h5 class="header col s12 grey-text text-darken-3">Find the ideal location for your small business</h5>
        </div>
        <div class="row center">
          <%= link_to "Search", results_path, id: "download-button", class: "btn-large waves-effect waves-light blue-grey" %>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"></div>
  </div>


  <div class="container">
    <div class="section">

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-maps-my-location"></i></h2>
            <h5 class="center">Valuable Data to Help Make A More Informed Decision</h5>

            <p class="light">Search the address of any commercial real estate listing and find a wealth of information to help determine whether that location will serve your needs. </p>
          </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">As a small bussiness owner, you do everthing you can to market your business to your core customer base. When looking for a place to expand your business, its nice to understand how location would impact your target audience. BizzSpot helps provide a more complete picture of a real estate listing.  Just provide BizzSpot an address and you are off and running.</p>
        </div>
      </div>

    </div>
  </div>

  </body>
